@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  .clippy {

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));

  }

}

.fill-opacity-50 {
  fill-opacity: 0.5;
}



.custom-position {
  object-position: 55% 0px;
}



.gradient {
  z-index: 0;
  background-color: #1A1540;

  background: radial-gradient(ellipse at top, rgb(22 18 55 / -40%), rgba(30, 0, 255, 0.3)), url(https://grainy-gradients.vercel.app/noise.svg); 

}